.card {
  min-width: 400px;
  max-width: 30%;
  height: 580px;
  margin: 100px auto 8px;
  padding-bottom: 20px;
  background-color: #fff;
  border-color: #ddd #ddd #d8d8d8;
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  box-shadow: 0 2px 0 rgba(175, 175, 175, 0.12) !important;
}
.card .header .logoContainer {
  padding: 30px 90px;
  max-height: 40px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.card .header .logoContainer img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 40px;
}
.card .cardContent {
  padding: 20px;
}
.card .cardContent .form-head {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
  text-align: center;
  text-transform: none;
  font-weight: bold;
  color: #5e5e5e;
}
.card .cardContent .form-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card .cardContent .form-container .button {
  height: 50px;
  text-transform: capitalize;
  line-height: 36px;
  border-radius: 3px;
}
.card .cardContent .form-container .button:hover {
  background-color: #0087d0;
}
.menu {
  width: 200px;
}
