/* Primary Theme */
/* Secondary theme */
a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}
a:hover {
  cursor: pointer;
}
.topBarContainer {
  flex-grow: 1;
}
.topBarContainer .logoContainer {
  padding-right: 10px;
}
.topBarContainer .logoContainer .logoIcon {
  width: 30px;
  height: 30px;
}
.topBarContainer .brand {
  flex: 1;
  font-family: 'Lobster', cursive;
  font-size: 1.6rem;
  line-height: 1.16667em;
}
.topBarContainer .topBarMenuButton {
  display: none;
}
.topBarContainer .topBarLinks * {
  position: relative;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.topBarContainer .topBarLinks *:after,
.topBarContainer .topBarLinks *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.topBarContainer .topBarLinks a {
  color: #bcd8f1;
  font-weight: 600;
  text-decoration: none;
  /*
      &:focus {
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
      */
}
.topBarContainer .topBarLinks a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background: aliceblue;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .15s linear;
}
.topBarContainer .topBarLinks a:hover {
  transition: .5s linear;
  color: #fff;
}
.topBarContainer .topBarLinks a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.topBarContainer .loginButton {
  width: 35px;
  height: 35px;
  background-color: aliceblue;
}
.topBarContainer .loginButton svg {
  color: black;
}
.topBarContainer .loginButton:hover {
  background-color: white;
}
.topBarContainer svg {
  color: white;
}
.topBarContainer .topbarLoggedUser {
  background-color: aliceblue;
  border: solid 1px #ddd;
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.topBarContainer .topbarLoggedUser:hover {
  cursor: pointer;
}
.topBarContainer .topbarLoggedUser svg {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
.popper-close {
  pointer-events: none;
}
.popper {
  margin-right: 0px;
}
.user-menu {
  margin-top: 16px;
}
.user-menu .user-menu-header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: solid 1px #ddd;
}
.list {
  max-width: 25%;
  min-width: 250px;
  font-size: 1.45rem;
}
.list a {
  padding-left: 10px;
  color: #424242;
  font-size: 1.25rem;
  display: block;
  height: 100%;
  width: 90%;
}
@media all and (max-width: 750px) {
  .topBarLinks {
    display: none !important;
  }
  .topBarMenuButton {
    display: block !important;
  }
}
