@import '../../../libs/lib.less';

a {
  padding-left: 10px;
  padding-right  : 10px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

.topBarContainer {
  flex-grow: 1;

  .logoContainer {
    padding-right : 10px;
    .logoIcon {
      width : 30px;
      height: 30px;
    }
  }

  .brand {
    flex: 1;
    font-family: 'Lobster', cursive;
    font-size : 1.6rem;
    line-height: 1.16667em;
  }

  .topBarMenuButton {
    display: none;
  }

  .topBarLinks {
    * {    
      position: relative;
      outline: none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      &:after, &:before {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }  
    }    
    a {
      color: rgb(188, 216, 241);
      font-weight : 600;
      text-decoration: none;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -3px;
        left: 0;
        background: aliceblue;
        visibility: hidden;
        border-radius: 5px;
        transform: scaleX(0);
        transition: .15s linear;        
      }
      &:hover { 
        transition: .5s linear;  
        color : @p-contrast;
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }

      /*
      &:focus {
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
      */
    }
  }

  .loginButton {
    width : 35px;
    height: 35px;
    background-color: aliceblue;
    svg {
      color : black;
    }
    &:hover {
      background-color: white;
    }
  }

  svg {
    color:white;
  }



  .topbarLoggedUser {
    background-color: aliceblue;
    border : solid 1px #ddd;
    display: flex;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
    &:hover {
      cursor : pointer;
    }
    svg {
      display:block;
      margin: 0 auto;
      width: 20px;
      height: 20px;
    }

  }
}


.popper-close {
  pointer-events: none,
}
.popper {
  margin-right : 0px;
}

.user-menu {
  margin-top : 16px;
  .user-menu-header {
    padding : 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: rgba(0, 0, 0, 0.87);

    border-bottom: solid 1px #ddd;
  }
}

.list {
  max-width: 25%;
  min-width : 250px;
  font-size: 1.45rem;

  a {
    padding-left : 10px;
    color :rgb(66, 66, 66);
    font-size: 1.25rem;    
    display: block;
    height: 100%;
    width: 90%;
  }
}

@media all and (max-width: 750px){
  .topBarLinks {
    display: none !important;
  }
  .topBarMenuButton {
    display: block !important;
  }
}


