.elementContainer {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}
.elementContainer:hover,
.elementContainer:focus,
.elementContainer:active {
  background-color: #f1e8e8;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
