a {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-left: 10px;
  padding-right  : 10px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

.appBarContainer {
  flex-grow: 1;
  a {
    color:white;
  }
  svg {
    color: white;
  }


}

.flex {
  flex: 1;
}

.list {
  width: 250px;
  a {
    font-size: 1.45rem;
  }
}
