a {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
}
a:hover {
  cursor: pointer;
}
.topBarContainer {
  flex-grow: 1;
}
.topBarContainer a {
  color: white;
}
.topBarContainer svg {
  color: white;
}
.topBarContainer .topbarLoggedUser {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 20px;
}
.topBarContainer .topbarLoggedUser:hover {
  cursor: pointer;
}
.topBarContainer .topbarLoggedUser svg {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
.flex {
  flex: 1;
}
.list {
  max-width: 25%;
  min-width: 250px;
}
.list a {
  padding-left: 10px;
  color: black;
  font-size: 1.45rem;
  display: block;
  height: 100%;
  width: 100%;
}
