.toolbar-container {
  background-color: #a5c3de !important;
  width: 100%;
  padding: 10px;
}
.toolbar-container .toolbar-button {
  height: 22px;
}
.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
