.mainPaper {
  width: 600px;
  height: 90%;
  margin: 20px auto 10px auto;
}
.mainPaper h1,
.mainPaper h2 {
  text-align: center;
}
@media all and (max-width: 750px) {
  .mainPaper {
    margin: 0;
    width: 100%;
  }
}
