.pricing-paper {
  width: 30vw;
  min-width: 165px;
  max-height : 50vh;
  height : 350px;
  min-height : 265px;
  transition: linear .1s;
  .pricing-body {
    height: 100%;
    width: 100%;
    margin: 0;
    .pricing-component {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &.icon {
        height : 33%;
        svg {
          width: 100px;
          height: 100px;
        }
      }
      &.title {
        padding: 15px 0;
        font-family: 'Lobster', cursive;
        font-size : 2rem;
      }
      &.price-tag {
        font-size: 33px;
        font-weight: bold;
        &:after {
          content: "/ mois";
          position: relative;
          margin-top: 22px;
          font-size : 8px;
        }
      }
      &.description {
        padding: 15px 5px;
        color: #1c1c66;
        font-weight : bold;
      }
    }
  }
  &:hover {
    transform: scale(1.1);    
  }
}

@media all and (max-width: 500px){
  .pricing-paper {
    width: 90vw;
    height : 27%;
    min-height : 380px;
    .pricing-body {
      .pricing-component {
        &.icon {
          svg {
            width: 70px;
            height: 70px;
          }        
        }
        &.price-tag {
          font-size : 45px;
        }
      }
    }
  }
}
