.pricing-paper {
  width: 30vw;
  height: 50vh;
}
.pricing-paper .pricing-body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.pricing-paper .pricing-body .pricing-component {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-paper .pricing-body .pricing-component.icon {
  height: 33%;
}
.pricing-paper .pricing-body .pricing-component.icon svg {
  width: 100px;
}
.pricing-paper .pricing-body .pricing-component.price-tag {
  font-size: 52px;
  font-weight: bold;
}
.pricing-paper .pricing-body .pricing-component.description {
  color: blue;
}
@media all and (max-width: 500px) {
  .pricing-paper {
    width: 90vw;
    height: 25%;
  }
}
