.nv-container {
  position: relative;
  padding-top: 10px;
  height: 100%;
  width: 100%;
}
.nv-container .dropzone {
  height: inherit;
  width: inherit;
}
.nv-container .dropzone .node {
  padding: 10px;
}
