.nv-container {
    position: relative;
    height: 105vh;
    width: 100vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 35px;
    overflow: hidden;
    user-select: none;
    .dropzone {
        height: 500vh;
        width: 98vw;
        .node {
            padding: 10px;
        }
    }
}

.disabled {
    background-color : #cbcbcb;
    color: #666666;
}

.react-contextmenu-item {
    z-index: 999;
    display: flex;
    align-content: center;
    padding : 10px;
    width : 200px;
    svg {
        padding-right : 5px
    }
    &.react-contextmenu-item--disabled {
        background-color : #cbcbcb;
        color: #666666;
        &:hover {
            cursor: auto;
            background-color : #cbcbcb;
        }
    }
    &:hover {
        cursor : pointer;
        transition: .1s ease-out;
        background-color: rgba(0, 0, 0, 0.08);
    }
}

/* width */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a19f9f; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575; 
}