.fileElementContainer {
  background-color: white !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  height: 180px;
  margin-bottom: 30px;
  cursor: pointer;
}
.fileElementContainer .filePreviewContainer {
  display: block;
  margin: auto;
  width: 40%;
  padding: 5px;
}
.fileElementContainer .fileContentContainer {
  display: flex;
  padding: 5px !important;
  flex-direction: row;
  align-content: center;
}
.fileElementContainer .fileContentContainer .fileContentIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 5px;
}
.fileElementContainer .fileContentContainer .fileContentIconContainer > svg {
  display: block;
  margin: auto;
  width: 70%;
}
.fileElementContainer .fileContentContainer .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  height: 30px;
  width: 10em;
  line-height: 30px;
  user-select: none;
  text-align: left;
}
.fileElementContainer:focus,
.fileElementContainer:active {
  background: #4285f4;
  -webkit-transition: background-color 30ms linear;
  -ms-transition: background-color 30ms linear;
  transition: background-color 30ms linear;
  background-clip: padding-box;
}
.folderContentContainer {
  width: 195px;
  display: flex;
  padding: 5px !important;
  flex-direction: row;
  align-content: center;
  transition: .1s linear;
}
.folderContentContainer .folderContentIconContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  margin-left: 5px;
}
.folderContentContainer .folderContentIconContainer > svg {
  display: block;
  margin: auto;
  width: 70%;
}
.folderContentContainer .text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  height: 30px;
  width: 10em;
  line-height: 30px;
  user-select: none;
  text-align: left;
}
.folderContentContainer.larger {
  width: 220px;
}
.selected {
  background: #4285f4;
  -webkit-transition: background-color 30ms linear;
  -ms-transition: background-color 30ms linear;
  transition: background-color 30ms linear;
  background-clip: padding-box;
}
.selected .text {
  color: white;
}
@media all and (max-width: 760px) {
  .fileElementContainer {
    width: 120px;
    height: 120px;
  }
  .folderContentContainer {
    width: 150px;
  }
}
@media all and (max-width: 430px) {
  .fileElementContainer {
    width: 100px;
    height: 100px;
  }
}
